name: iOS CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode 16
        run: sudo xcode-select -s /Applications/Xcode_16.4.app/Contents/Developer || true

      - name: Install SwiftLint
        run: brew install swiftlint

      - name: Run SwiftLint
        run: swiftlint 

      - name: Build app
        run: |
          xcodebuild \
            -scheme "Nudge" \
            -destination "generic/platform=iOS Simulator" \
            build

