name: iOS CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode 16
        run: sudo xcode-select -s /Applications/Xcode_16.4.app/Contents/Developer || true

      - name: Build app
        run: |
          xcodebuild \
            -scheme "Nudge" \
            -destination "platform=iOS Simulator,name=iPhone 15" \
            build

